
<div class="item_photo" style="background-image: url(<%= @product.photo %>)" alt='item_photo'>
</div>

<div class="item_details">
  <div class="product_date">
    <h4><%= @product.updated_at %></h4>
  </div>
  <div class="brand">
    <h2><%= @product.brand.name %></h2>
  </div>
  <div class="name_and_genre">
    <h1><%= @product.name %> <%= @product.genre.name %></h1>
  </div>
</div>

<div class="contents_row">
  <%= form_tag('/tweets', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <div class="input_name">
      <input placeholder="Nickname" type="text" name="name">
    </div>
    <div class="input_text">
      <textarea name="text" placeholder="text"></textarea>
    </div>
    <div class="sent_button">
      <input type="submit" value="SENT">
    </div>
  <% end %>
</div>

<% @product.reviews.each do |review| %>
  <div class="review clearfix">
    <time class="review_time" datetime="投稿日時">ユーザー名</time>
    <h2 class="review_text"><%= review.text %></h2>
  </div>
<% end %>
