
<div class="item_photo" style="background-image: url(<%= @product.photo %>)" alt='item_photo'>
</div>

<br><br>

<div class="item_details">
  <div class="brand">
    <a><%= @product.brand.name %></a>
  </div><br>
  <div class="name_and_genre">
    <a><%= @product.name %> <%= @product.genre.name %></>
  </div>
</div>

<br><br><br>

<div class="contents_row">
  <%= form_tag('/tweets', method: :post) do %>
    <a>
      投稿する
    </a>
    <div class="input_text">
      <textarea name="text" class="input" placeholder="text"></textarea>
    </div>
    <div class="sent_button">
      <input type="submit" value="SENT">
    </div>
  <% end %>
</div>

<% @product.reviews.each do |review| %>
  <div class="review clearfix">
    <time class="review_user"><%= review.user.name %></time><br>
    <a class="review_text"><%= review.text %></a><br><br>
  </div>
<% end %>
