<!DOCTYPE html>
<html>
<head>
  <title>Audiofan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="clearfix">
    <div class="top_bar_left">
      <%= link_to image_tag('title.png'), root_path %>
    </div>
    <div class="top_bar_right">
      <div class="right_left">
        <% if user_signed_in? %>
          <a href="/user/<%= current_user.id %>"><i class="fa fa-user"></i></i></a>
        <% else %>
          <a href="/users/sign_in"><i class="fa fa-sign-in"></i></a>
        <% end %>
      </div>
      <div class="right_right">
        <a href="#"><i class="fa fa-bars"></i></a>
      </div>
    </div>
  </header>

  <%= yield %>

<!--   <footer>
    <cmall class="copy_right">© 2016- AudioFan</cmall>
  </footer> -->

</body>
</html>
